# Klipper configuration for Alfawise U20 / Longer LK1 - STOCK (Without BLTouch)
# Compatible with the 64k bootloader (STM32F103)

[stepper_x]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
microsteps: 16
rotation_distance: 40
endstop_pin: !PC1
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_y]
step_pin: PB7
dir_pin: PB6
enable_pin: !PB8
microsteps: 16
rotation_distance: 40
endstop_pin: !PC15
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_z]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 8
endstop_pin: !PE6 # Uses the stock Z-axis limit switch
position_endstop: 0
position_max: 400
position_min: 0

[extruder]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 33.233185
nozzle_diameter: 0.400
filament_diameter: 1.750
#max_extrude_only_distance: 150.0
pressure_advance: 0.4392
heater_pin: PD3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
# Leave these lines commented, Klipper will fill them in after your first PID Tune
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250
min_extrude_temp: 170

[heater_bed]
heater_pin: PA8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
# Leave these lines commented, Klipper will fill them in after your first PID Tune
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA15

[mcu]
# If Klipper fails to connect, you will need to verify that this path matches your cable
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000 # Slightly lowered (5000 is very aggressive for a stock U20)
max_z_velocity: 5
max_z_accel: 100

[static_digital_output reset_display]
# Configuration required for the microcontroller at startup
pins: !PC4, !PD12

[gcode_arcs]
resolution: 0.1

[exclude_object]

[force_move]
enable_force_move: true

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
